{{`{{`}} config(tags=['{{ .Project }}', '{{ .TableName }}']) {{`}}`}}
{{$first := true}}
SELECT
	{{- range .Fields }}
	{{if $first}}{{$first = false}}{{else}},{{end}}{{ .Name }}::{{ .Type }} AS {{ .Name | ToUpper | TrimBrackets | Strip | TrimLeft | SpaceReplace }}
	{{- end }}
FROM
	{{`{{`}} source('{{ .Project }}', '{{ .TableName }}') {{`}}`}}
